var config = {};

config.mongo = {};
config.mongo.url = "mongodb://localhost:27017";
config.port = 8081;
config.mongo.short_url = "localhost";
config.mongo.user = "";
config.mongo.pass = "";
config.mongo.port = 27017;

config.auth = {
    username: "",
    password: ""
};


module.exports = config;
