<div ng-controller="IndexCtrl">
    <div class="container">
        <div class="row ">
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Raspberry infos</div>
                    <div class="panel-body">
                        <p id="p_hostname">{{infos.hostname}}</p>

                        <p id="p_kernel">{{infos.uname}}</p>

                        <p id="p_uptime">{{infos.uptime}} up</p>
                        <br/><br/><br/>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Raspberry stats</div>
                    <div class="panel-body">
                        <p class="large">
                            {{home.temperature}}°C / {{modeTemperature}}°C<br/><br/>
                            {{home.humidity}}%<br/><br/>
                            {{mode}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Salon</div>
                    <div class="panel-body">
                        <p class="large">
                            {{home.temperature}}°C / {{modeTemperature}}°C<br/><br/>
                            {{home.humidity}}%<br/><br/>
                            {{mode}}
                        </p>

                    </div>
                    <div class="panel-body">
                        Force mode :
                        <select ng-model="mode">
                            <option value="confort">Confort</option>
                            <option value="eco">Eco</option>
                        </select>
                        <input type="button" value="Save" data-ng-click="setMode()"/>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script type="text/javascript">
        google.charts.load('current', {'packages': ['gauge']});
        function initJs() {
            google.charts.setOnLoadCallback(drawChart);
        }

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Label', 'Value'],
                ['Memory', $('[ng-controller="IndexCtrl"]').scope().mem],
                ['CPU', $('[ng-controller="IndexCtrl"]').scope().cpu],
                ['Temp', $('[ng-controller="IndexCtrl"]').scope().temperature]
            ]);

            var options = {
                width: 600, height: 180,
                redFrom: 90, redTo: 100,
                yellowFrom: 75, yellowTo: 90,
                minorTicks: 5
            };

            var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

            chart.draw(data, options);

//                    setInterval(function() {
//                        data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
//                        chart.draw(data, options);
//                    }, 13000);
//                    setInterval(function() {
//                        data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
//                        chart.draw(data, options);
//                    }, 5000);
//                    setInterval(function() {
//                        data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
//                        chart.draw(data, options);
//                    }, 26000);
        }
    </script>

</div>
