<div ng-controller="IndexCtrl">
    <div class="container">
        <div class="row ">
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-laptop"></i>
                        Raspberry infos
                    </div>
                    <div class="panel-body">
                        <p id="p_hostname">{{infos.hostname}}</p>

                        <p id="p_kernel">{{infos.uname}}</p>

                        <p id="p_uptime"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            {{infos.uptime}} up</p>
                        <br/><br/><br/>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                        Raspberry stats
                    </div>
                    <div class="panel-body">
                        <p class="large">
                            CPU : {{cpu | number:1}}<br/><br/>
                            MEM : {{mem | number:1 }}<br/><br/>
                            TEMP : {{temperature | number:1}}
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-television"></i>
                        Salon
                    </div>
                    <div class="panel-body">
                        <p class="large">
                            {{home.temperature | number:1}} °C / {{modeTemperature}}°C<br/><br/>
                            {{home.humidity | number:1}}%<br/><br/>
                            {{mode}}
                        </p>


                        Force mode :
                        <select ng-model="mode">
                            <option value="confort">Confort</option>
                            <option value="eco">Eco</option>
                        </select>
                        <input type="button" value="Save" data-ng-click="setMode()"/>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-bed"></i>
                        Chambre
                    </div>
                    <div class="panel-body">
                        <p class="large">

                        </p>

                    </div>

                </div>

            </div>

            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-lightbulb-o"></i>
                        Lumiere arche
                    </div>
                    <div class="panel-body">
						<button type="button" class="btn btn-primary btn-block" data-ng-click="pressLight('KEY_POWER')">I/O</button>
						<br />
						<button type="button" class="btn btn-primary" data-ng-click="pressLight('KEY_BLUE')">B</button>
						<button type="button" class="btn btn-danger" data-ng-click="pressLight('KEY_RED')">R</button>
						<button type="button" class="btn btn-success" data-ng-click="pressLight('KEY_GREEN')">G</button>
						<button type="button" class="btn btn-info" data-ng-click="pressLight('KEY_SHUFFLE')">Rdm</button>
                    </div>

                </div>

            </div>
            </div>
            <div class="row ">
            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-pause-circle-o"></i>
                        Télévision
                    </div>
                    <div class="panel-body">
                        <p class="large">
                            On / Off
                        </p>

                    </div>

                </div>

            </div>

            <div class="col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-music"></i>
                        Chaine HI-FI
                    </div>
                    <div class="panel-body">
                        <p class="large">
                            On / Off
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
